h1,
h3 {
    font-family: "Courier New", monospace;

}

p,
li,
ol {
    font-family: Verdana, sans-serif;
    font-size: 13px;
    width: 550px;
    margin: 0 auto;
    margin-top: 15px;
}

.description {
    font-size: 15px;
    text-align: center;
}

h3 {
    width: 150px;
    text-align: center;
    background-color: rgb(206, 255, 126);
    margin: 0 auto;
    margin-top: 20px;
}

.steps {
    width: 85px;
}

img {
    margin: 0 auto;
    display: block;
}

h1 {
    text-align: center;
}

